* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.is-dark {
    background-color: #1F2937;
}

.is-gray {
    background-color: #E5E7EB;
}

.is-blue {
    background-color: #3882F6;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body > * {
    padding: 0 28em;
}

.header {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    padding: 10px 0;
    gap: 1.5rem;
    align-items: center;
}
.navbar a{
    color: white;
}
.logo {
    display: inline-flex;
    margin-right: auto;
    gap: 0.5rem;
    align-items: baseline;
}
.logo-img {
    flex-shrink: 0;
    height: 30px;
}
.logo-text {
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    display: flex;
    padding-bottom: 2em;
}
.hero-content {
    width: 60%;
}
.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.title-context {
    font-size: 18;
    color: #E5E7EB;
}

.hero-img {
    width: 350px;
    border: white 1px solid;
    margin-left: auto;
}

.btn {
    padding: 0.6em 2em;
    border-radius: 1em;
    color: #F9FAF8;
    font-weight: 700;
}

#apps {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.app-context {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}
.apps {
    display: flex;
    justify-content: start;
}

.apps img {
    width: 110px;
    margin-bottom: 10px;
    padding: 1px;
    border: 5px #3882F6 solid;
    border-radius: 1em;
}
.apps figcaption {
    font-size: 12px;
    text-align: center;
}

#quote {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    padding: 2em;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0.5em;
}
.quote-author {
    float: right;
    font-weight: 700;
    font-size: 1.125em;
}
#cta {
    flex: 2;
    display: flex;
}


.footer {
    flex: 1;
    display: flex;
}